<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body> -->
<% layout('layouts/boilerplate') %>
    <!-- <h1>Restaurant ID</h1>
<h2><foundId.title%></h2>
<h3>Restaurant id: <foundId.id%></h3> -->
<!-- <div><=foundId.image%></div> -->
<!-- <img src="<foundId.image%>" alt="">
<p><foundId.description%></p>
<h4><foundId.location %></h4> -->
    <!-- //  <h1>Restaurant id: < restId.id %></h1>
    // <h2><restId.name %> - < restId.comment  %> </h2>
    // <a href="/restaurants">Back to index</a>
    // <a href="/restaurants/< restId.id %>/edit">Edit Comment</a> -->
    <!-- <form method="POST" action="/restaurants/<foundId._id%>?__method=DELETE">
    <button>DELETE</button>
</form>
<footer>
    <a href="/restaurants/<foundId._id%>/edit">Edit</a>
    <a href="/restaurants">All Restaurants</a>
</footer> -->

<div class="card col-6 offset-3 mb-3" style="width: 18rem;">
  <img src="<%=foundId.image%>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%=foundId.title%></h5>
    <p class="card-text"><%=foundId.description%></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%=foundId.location%></li>
    <!-- <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li> -->
  </ul>
  <div class="card-body">
    <form class="d-flex text-center" method="POST" action="/restaurants/<%=foundId._id%>?__method=DELETE">
    <a class="btn btn-warning mx-4 px-4" type="button" href="/restaurants/<%=foundId._id%>/edit">EDIT</a>
     <!-- <a class="btn btn-info" type="button" href="/restaurants">All Restaurants</a> -->
    <button class="btn btn-danger mx-3">DELETE</button>
    <!-- <a class="btn btn-info" type="button" href="/restaurants">All Restaurants</a> -->
    </form>
     <!-- <a  class="btn btn-warning" type="button" href="/restaurants/<foundId._id%>/edit">Edit</a> -->
    <!-- <div class="card-footer"> -->
    <a class="btn btn-info mt-4 mx-5 px-4" href="/restaurants">All Restaurants</a>
    <!-- </div> -->
</div>
</div>
<!-- </body>
</html> -->